<h1 class="text-center display-3">All Users</h1>
<hr class="display-3"/>
<table class="table table-hover mt-3 w-75 mx-auto">
    <thead>
    <tr class="row">
        <th class="col-md-1" scope="col">#</th>
        <th class="col-md-5" scope="col">Username</th>
        <th class="col-md-3" scope="col">Role</th>
        <th class="col-md-3" scope="col">Actions</th>
    </tr>
    </thead>
    <tbody class="all-users">
    </tbody>
    <div class="d-flex justify-content-center">
        <button id="refresh-users-button" class="btn btn-secondary">Refresh</button>
    </div>
</table>